body {
    background-color: #d1d1d1;
}

#first-content {
    height: 100vh;
}

.slate {
     color: #464646;
     font-weight: 300;
}

.slate-bold {
    font-weight: 400;
}

.logo {
    margin: 5px 0 25px 0;
    font-family: 'Roboto', serif;
}

#logo-x {
    font-family: 'IM Fell Double Pica SC', serif;
    text-shadow: 1px 1px #911100;
}

div#map {
    height: 50vh;
    margin-bottom: 25px;
}

.focus-loc {
    text-align: center;
}

span#selected-loc {
    color: #212529;
    font-weight: 300;
}

.card {
    background-color: inherit;
    border: none;
}

.card-header {
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    
}

#headingOne {
    margin-bottom: 16px;
}

.card-body {
    padding: 0;
}

.btn-link {
    padding: 0;
}

#hidden-content {
    display: none;
}
