
/* Global */
:root {
    --second-content-white: #e4e4e4;
    --first-content-white: #d1d1d1;
    --mid-grey: #8d8d8d;
    --slate: #464646;
    --ink-print: #212529;
}

body {
    background-color: var(--first-content-white);
    font-family: 'Roboto', serif;
    margin-bottom: 48px;
}

/* Modal */
#instructModalHeader {
    background-color: var(--ink-print);
}

.close {
    color: var(--second-content-white);
    text-shadow: 0 1px 0 var(--ink-print);
    font-size: 2rem;
}

.close:hover {
    color: var(--second-content-white);
}

#instructModalLabel {
    color: var(--second-content-white);
}

.modal-body {
    padding-bottom: 0;
}

.modal-body h6 {
    margin-bottom: 0.8rem;
}

.modal-footer {
    padding-top: 0;
}

.btn-primary {
    background-color: var(--slate);
    border-color: var(--slate);
    color: var(--second-content-white);
}

.btn-primary:hover {
    background-color: var(--ink-print);
    border-color: #000;
    color: var(--second-content-white);
}

/* Upper Section */
#first-content {
    padding: 0 -15px 16px 0; /* negative value required to make map occupy entire screen width on mobile */
    margin-bottom: 8px;
    background-color: var(--first-content-white);
}

#first-content .col-md-8 {
    padding: 0;
}

div#map {
    height: 50vh;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--mid-grey);
}

/* Lower Section */
#second-content {
    background-color: var(--first-content-white);
}

.slate {
     color: var(--slate);
     font-weight: 300;
}

.subhead {
    font-size: 1.2rem;
    font-weight: 500;
}

.text-center h1 {
    font-size: 3.4rem;
    letter-spacing: 4px;
}

/* Placename Box */
.current-loc p {
    margin-bottom: -5px;
    padding: 3px 8px;
    background-color: var(--ink-print);
    color: var(--first-content-white);
}

.focus-loc {
    text-align: center;
    border: 2px solid var(--ink-print);
    margin-bottom: 16px;
    background-color: var(--second-content-white);
}

#selected-loc {
    color: var(--ink-print);
    font-weight: 400;
    margin: 0;
    padding: 12px 8px;
}

/* Accordion Contents */
.extract-main {
    margin-top: 12px;
}

div.card {
    border-radius: 0;
}

.card {
    background-color: inherit;
    border: none;
}

.card-header {
    background-color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

#headingOne {
    margin-bottom: 16px;
    background-color: var(--ink-print);
    text-align: center;
}

#history-header {
    color: var(--first-content-white);
    padding-bottom: 4px;
}

.card-body {
    padding: 0;
}

.btn-default {
    padding: 0;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

#history-pars h3 {
    border-top: 1px solid var(--first-content-white);
    padding: 36px 0 10px 0;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* Footer */
#footer {
    background-color: var(--ink-print);
    color: var(--first-content-white);
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 48px;
    width: 100%;
    padding-top: 12px;
    display: none;
}

#footer span {
    padding: 0 10px;
}

/* Hide raw HTML returned from parseContents */
#hidden-content {
    display: none;
}

/* Media Queries */
@media (min-width: 768px) {

    #first-content .col-md-8 {
        padding: 15px 15px 0 15px;
    }

    div#map {
        border: 1px solid var(--mid-grey);
    }

}