body {
    background-color: #d1d1d1;
}

.slate {
     color: #464646;
     font-weight: 300;
}

.logo {
    margin: 50px 0;
}

div#map {
    min-height: 360px;
    margin-bottom: 50px;
}

span#selected-loc {
    color: #212529;
    font-weight: 300;
}

#history-pars h3 {
    
}

#hidden-content {
    display: none;
}
